html,body,ul,li,p,ol,h1,h2,h3,h4,h5,img,a,span,forumtcat,visitors_bar,input,select,textarea{margin:0;text-decoration:none;font-family:'Droid Arabic Kufi'}
body{margin:0;color:#965B5B;background: rgb(247, 247, 247) url("http://store2.up-00.com/2017-01/1484074637562.png") no-repeat fixed center top;}
a:link,a:visited,a:active,a:hover{background-color:transparent;color:#694040;text-decoration:none}
.tcat{background-color:#A43A1B;background-repeat:repeat-x;font:bold 10pt 'Droid Arabic Kufi';color:#FFF;text-align:center;padding:10px}
.tcat a:link{background-color:transparent;color:#FFF;text-decoration:none}
.tcat a:visited{background-color:transparent;color:#FFF;text-decoration:none}
.tcat a:hover,.tcat a:active{background-color:transparent;color:#FFF;text-decoration:none}
#fa_toolbar{margin-top:-30px;background-color:#A43A1B;position:absolute}
#fa_right{float:right;font-size:17px;text-align:right;font-weight:700;position:fixed;top:16px}
#fa_hide{display:none!important}
#fa_toolbar #fa_right #notif_list li.unread{font-weight:700;background-color:#F2F2F0}
#fa_toolbar #fa_right #notif_list li .contentText{float:right;padding:9px;width:27em;height:2.4em;overflow:hidden;direction:rtl;font-weight:700}
#fa_toolbar #fa_right #notif_list li .content{width:auto}
#fa_toolbar #fa_right #notif_list li a.delete{width:18px;height:16px;float:left;background:url(//ssl.gstatic.com/s2/oz/images/sprites/notsg-a7af8b0efa4566ea1e9b98ed49df0b2e.png) no-repeat scroll 0 -182px transparent;margin-left:-2px;opacity:.4}
#fa_toolbar #fa_right #notif_list li a.delete:hover{opacity:.6}
#fa_toolbar #fa_right #notif_list li .contentText a{text-decoration:none;vertical-align:baseline;padding:2px}
#fa_toolbar #fa_right #notif_list li.unread .content hr{display:none}
#fa_toolbar #fa_right #notif_list li hr{display:none}
#fa_toolbar #fa_right #notif_list{font-size:11px;display:none;list-style-type:none;margin:0;padding:0;background-color:#e5e5e5;border:1px solid #A43A1B;z-index:10000;position:absolute;border-radius:3px 3px 3px 3px;max-height:550px;overflow-y:scroll;overflow-x:hidden;margin-top:12px;right:-120px!important}
#fa_toolbar #fa_right #notif_list #live_notif .fa_notification{margin-top:15px;left:-174px!important;min-width:240px}
#fa_toolbar #fa_right #notif_list li{margin:6px 12px;padding:12px;color:#A43A1B;box-shadow:0 1px 2px rgba(0,0,0,0.2);background-color:#fff;line-height:1.2em;display:block;border-radius:3px 3px 3px 3px;width:420px;transition:margin 0.6s ease-in-out 0s;border-right:5px solid #A43A1B}
#fa_toolbar #fa_right #notif_list li.see_all{background-color:#fff;text-align:center;width:179px;float:left;text-decoration:none;border:1px solid #c7c7c7;padding:9px!important;transition:all 0.6s ease-in-out 0s;}
#fa_toolbar #fa_right #notif_list li.see_all:hover{border:1px solid #A43A1B}
#fa_toolbar #fa_right #notif_list li.see_all a{color:#696969;width:100%;text-decoration:none;font-weight:700;transition:all 0.6s ease-in-out 0s;}
#fa_toolbar #fa_right #notif_list li.see_all a:hover{color:#A43A1B}
#content-container #right{background-color:#fff;padding:10px;border-radius:4px;border:1px solid #A43A1B}
.a7lacontainer{border-width:0 3px 0 0;border-style:none solid none none;border-color:-moz-use-text-color #A43A1B -moz-use-text-color -moz-use-text-color;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;background:none repeat scroll 0 0 #fff;box-shadow:0 1px 2px rgba(0,0,0,0.1);box-sizing:border-box;right:0;height:auto;padding:10px 15px;margin:0 0 10px}
.module-title{text-align:right}
.box7Shadow{box-shadow:0 12px 25px rgba(0,0,0,0.58)}
.content a.delete{display:none}
.contentText a{color:#A43A1B;font-size:13px;padding:0}
.contentText{color:#000;font-size:12px;padding:0}
#wnotify .see_all{box-shadow:0 0 4px rgba(0,0,0,0.07);margin:5px 15px 0;padding:2px;text-align:center;color:#000;background:none repeat scroll 0 0 #A43A1B;border-radius:4px 4px 4px 4px;border:1px solid #A43A1B;width:270px;float:left}
#wnotify .see_all a{font-size:13px}
#wnotify li{width:302px;margin-bottom:3px;border-right:2px solid #A43A1B}
#a7lamem:after,#a7lamem:before{border:medium solid rgba(0,0,0,0);bottom:100%;content:" ";height:0;left:95%;pointer-events:none;position:absolute;width:0}
#wnotify:after,#wnotify:before{border:medium solid rgba(0,0,0,0);bottom:100%;content:" ";height:0;left:95%;pointer-events:none;position:absolute;width:0}
#a7lamem:after #wnotify:after{border-color:rgba(46,49,51,0) rgba(46,49,51,0) #FFF;border-width:10px;margin-left:-10px}
#user7avater img{border-radius:3px;height:100px;margin-top:10px;position:relative;top:-3px;width:90px;border:2px solid #A43A1B;padding:1px}
#user7name{color:#000;font-family:'Droid Arabic Kufi';float:right;width:69%;margin:20px 5px 0 -15px}
#light7swicht{display:none}
.list7edit li a{color:#fff;font-size:13px;transition:all 0.6s ease-in-out 0s;}
.list7edit li a:hover{margin-right:15px}
.list7edit li{width:100%;float:right;padding:3px 0;margin:1px;background-color:#A43A1B;border-radius:3px}
.line7anime{border-top:1px dotted #000;width:100%}
.neweps7anime{display:none;float:left;position:relative;margin:6px}
a.boton7anime{display:inline-block;height:26px;border:1px solid #d3d3d3;padding:0 10px;outline:0 none;font-weight:700;font-size:12px;text-decoration:none;white-space:nowrap;word-wrap:normal;line-height:normal;vertical-align:middle;cursor:pointer;border-radius:2px 2px 2px 2px;box-shadow:0 1px 0 rgba(0,0,0,0.05);background:none repeat scroll 0 0 #f8f8f8;color:#333}
a.boton7anime:hover{color:#A43A1B}
.uparrow{background-image:url(http://i18.servimg.com/u/f18/19/09/87/49/uparro10.png);width:20px;height:20px;margin-top:-20px}
#notific7anime{width:100%;border-bottom:1px solid #A43A1B;height:30px;margin-top:2px}
#notific7anime a i{float:left;font-size:18px;font-weight:700;color:#A43A1B;margin-top:3px}
#notific7anime h4{float:right;font-size:12px;font-weight:700;color:#A43A1B}
.forumline{background-color:#fff;border:1px solid rgba(131,137,142,0.4);border-radius:4px 4px 4px 4px;margin-bottom:10px}
td.catLeft{text-align:center;padding:8px;border-radius:4px 4px 0 0;background-color:#fafafa}
.sideavater img{border-radius:200px 200px 200px 200px;width:100px;height:100px;padding:2px;border:1px solid #A43A1B;margin:2px 5px}
td.row1,td.row1.over:hover{background-color:#fff}
#welcomemsg{color:#2c2c2c;background-color:#fff;margin: 15px 12% 10px 10px;border:1px solid #e2e2e2;border-radius:4px 4px 4px 4px;padding:15px 20px;min-height:90px;width: 74%;}
#welcomemsg h2{color:#A43A1B;font-size:18px}
#welcomemsg h2 i{font-size:28px}
#welcomemsg span{font-size:13px;margin:10px 0;padding-left:14%}
#welcomemsg a{float:left;padding:5px 10px;margin:0 -12px;color:#fff;background-color:#A43A1B;border-radius:4px 4px 4px 4px}
#anime7footer{height:330px;border-left:3px solid #A43A1B;width:100%;margin-bottom:5px;border-radius:5px 5px 5px 5px;margin-top:10px;border-top:1px solid #A43A1B;border-bottom:1px solid #A43A1B}
.footer-anime{float:right;font-size:12px;width:24%;padding:0 0 0 15px;text-align:right}
.footer-ul{list-style:none}
.footer-ul li {padding: 5px 10px;background-color: #333;margin: 4px;border-radius: 4px;transition: all 0.2s ease-out 0s;}
.footer-ul li:hover {background-color: #D44B21;transition: all 0.5s ease-out 0s;}
.footer-ul li:hover a {margin-right: 15px;transition: all 0.5s ease-out 0s;}
.footer-ul li a {margin-right: 0px;color:#fff;font-size:13px;}
#foot1 br{display:block}
#footernav{background-color:#A43A1B;height:50px;width:100%;margin:10px 0;border-radius:5px}
#footernav .footleft{float:left;padding:12px 0}
.footleft a{padding:12px 8px;font-size:13px;color:#fff;font-weight:700}
.footright{float:right;padding:9px 0}
.forumcontainer{border-radius:4px 4px 4px 4px;background-color:#fff;border:1px solid #A43A1B;padding:10px}
.playlist7header{padding:5px 10px;background:none repeat scroll 0 0 #A43A1B;min-height:110px}
.playera7la .a7lacontainer img{width:150px;float:right;margin:0 0 5px 10px;border:1px solid #A43A1B}
#mod_recent_tutorials{margin:0;height:380px;overflow-y:auto;overflow-x:hidden;width:98.5%;float:right;background-color:#3a3a3a;border-right:3px solid #A43A1B;border-left:3px solid #A43A1B}
.a7lainfo h2,.a7lastory h2{font-size:14px;border-bottom:1px solid #A43A1B;margin-bottom:9px;border-left:4px solid #A43A1B;color:#A43A1B;padding:5px 0;font-family:'Droid Arabic Kufi'}
.rep7ort h2{color:#A43A1B;font-size:18px;font-weight:700;padding:5px}
.rep7ort a{color:#A43A1B;font-size:16px;font-weight:700;padding:5px}
.embedfeild span{font-size:18px;margin-left:10px;color:#A43A1B}
.embedfeild input{height:24px;border-radius:5px;padding:0 5px;border:1px solid #A43A1B}
.playerdontwork a{color:#A43A1B;font-size:14px;cursor:pointer}
#a7laepsfacepage{width:100%;top:548px;position:absolute;border-right:0 none!important;border-left:3px solid #A43A1B;max-height:558px}
#a7laepstwitterpage{width:100%;top:1114px;position:absolute;border-right:0 none!important;border-left:3px solid #A43A1B;max-height:558px}
.face7page h2,.twitter7page h2{font-size:14px;border-bottom:1px solid #A43A1B;margin:-10px -15px 7px 0;border-right:4px solid #A43A1B;color:#A43A1B;padding:5px 10px 5px 0;font-family:'Droid Arabic Kufi'}
#list7epsanime li:hover{border-bottom:1px solid rgba(131,137,142,0.4);border-right:3px solid #A43A1B}
#list7epsanime li i{font-size:14px;color:#A43A1B}
#animedownload h2{margin:-9px -15px 0;padding:4px;border-bottom:2px solid #A43A1B;color:#A43A1B}
#downclose{width:34px;height:34px;position:absolute;left:0;top:0;background-color:#A43A1B;cursor:pointer;font-size:18px;text-align:center;font-weight:700;color:#fff}
#showdownload{direction:rtl;width:130px;background-color:#A43A1B;padding:8px!important;text-align:center;color:#fff;font-size:14px;float:right;margin-right:-145px;margin-top:0;cursor:pointer}
.forum7line{width:100%;background-color:#fff;margin:0 0 10px;}
.lastpost-avatar img{border-radius:200px 200px 200px 200px;height:55px;width:55px;border:1px solid #A43A1B;padding:2px;margin:5px}
.title7cat{background-color:#A43A1B;padding:10px;text-align:center;color:#fff;box-shadow:0 2px 2px rgba(0,0,0,0.2);border-radius: 40px;}
.forum7posts,.forum7replies,.forum7other{font-size:13px;color:#A43A1B;float:right;margin:0 5px}
.listforums{position:absolute;top:21px;right:85px;border:1px solid #A43A1B;z-index:32}
.listforums a{font-size:13px;color:#A43A1B;font-weight:700;width:100%;text-decoration:none}
.listforums a:hover{font-size:13px;color:#A43A1B;font-weight:700;text-decoration:none}
.forumcontainer{border-radius:4px;background-color:#fff;border:1px solid #A43A1B;padding:10px}
a.forumtiturl{color:#A43A1B;font-size:13px;margin:5px 0;padding:3px;position:absolute;text-decoration:none}
a.forumtiturl:hover{color:#A43A1B;text-decoration:none}
.forum7other a{font-size:13px;color:#A43A1B;font-weight:700}
#notwork{border-top:2px solid #A43A1B}
.tcat,.thHead{background:none repeat-x scroll center top #A43A1B;border-bottom:1px solid #6cb7ae;border-radius:4px 4px 4px 4px!important;color:#fff;font-family:'Droid Arabic Kufi';font-size:12px;font-style:normal;font-variant:normal;font-weight:700;padding:10px!important;text-align:center}
.navlftcolse{width:34px;height:34px;position:absolute;left:0;top:0;cursor:pointer;font-size:18px;text-align:center;font-weight:700;color:#fff;background-color:#A43A1B}
#leftnav h2{padding:4px 10px;border-bottom:2px solid #A43A1B;color:#A43A1B}
#LGal7aonline_196 li a{font-size:13px;font-weight:700;color:#A43A1B}
.js-marquee a{font-size:13px;font-weight:700;color:#A43A1B}
.tcat{background:none repeat scroll 0 0 #A43A1B;border-radius:5px 5px 5px 5px;color:#FFF;font:bold 10pt Droid Arabic Kufi}
.tcat a:link,.tcat_alink{color:#FFF;text-decoration:none}
.tcat a:visited,.tcat_avisited{color:#FFF;text-decoration:none}
.tcat a:hover,.tcat a:active,.tcat_ahover{color:#CCC;text-decoration:none}
.tcat h2{color:#FFF;text-decoration:none;padding:5px}
.thead{background:none repeat scroll 0 0 #FFF;border-bottom:1px dotted #A43A1B;color:#A43A1B;font:bold 11px Droid Arabic Kufi}
.thead a:link,.thead_alink{color:#A43A1B}
.thead a:visited,.thead_avisited{color:#A43A1B}
.thead a:hover,.thead a:active,.thead_ahover{color:#CCC;text-decoration:none}
.tfoot{background:none repeat scroll 0 0 #A43A1B;color:#E0E0F6}
.tfoot a:link,.tfoot_alink{color:#E0E0F6}
.tfoot a:visited,.tfoot_avisited{color:#E0E0F6}
.tfoot a:hover,.tfoot a:active,.tfoot_ahover{color:#CCC;text-decoration:none}
td.thead,th.thead,div.thead{padding:4px}
.tcat .shade,.thead .shade,.tfoot .shade{color:#DDD}
td.cat,td.catBottom,td.catHead,td.catLeft,td.catRight,td.catSides{background-color:#A43A1B;height:30px;border-radius:5px}
td.catHead,th.thHead{background-color:#A43A1B;font-size:12px;border-radius:5px}
th.thBottom,th.thCornerL,th.thCornerR,th.thHead,th.thLeft,th.thRight,th.thSides,th.thTop{background-color:#A43A1B;font-weight:700;height:20px;border-radius:5px}
th{background-color:#A43A1B;font-size:11px;font-weight:700;height:25px;padding:2px 3px}
blockquote,dl.codebox{background-color:#fcfcfc!important;border-width:1px 5px 1px 1px;border-style:solid;border-color:#A43A1B;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-webkit-border-image:none;-o-border-image:none;border-image:none;margin:3px 10px}
dl.codebox dt{border:medium none;color:#A43A1B;font-size:.9em;padding:7px;text-transform:none}
.quote{background:url(Qb.png) no-repeat scroll 6px 6px #fff;overflow:hidden}
.code{background:url(Cb.png) no-repeat scroll 6px 6px #fff;direction:ltr;display:block;max-height:300px;overflow:auto}
#profcont-container{background:#EEE!important;border:1px solid #CCC!important}
#userAVA img{position:absolute;top:43px;left:30px;height:100px;width:100px;border:1px solid #A43A1B;border-radius:50px}
.profile_popup_nav{background:#A43A1B;margin:-4px -4px 10px;padding:3px;padding-top:10px!important;height:auto;border-bottom:1px solid #CCC;border-radius:5px 5px 0 0}
.propop_tab{color:#888;text-shadow:1px 1px 0 #F5F5F5;cursor:pointer;border-radius:4px 4px 0 0;border:1px solid #CCC;border-bottom:none;box-shadow:0 10px 6px rgba(255,255,255,0.5) inset;background:#DDD;margin:0 2px;padding:3px}
.propop_tab:hover{position:relative;top:1px;color:#666;text-shadow:none;background-color:#EEE}
.propop_tab.activeTab{position:relative;top:1px;color:#666;text-shadow:none!important;background-color:#EEE!important}
#profileLinks{background:#A43A1B;display:block;padding:3px;margin:10px -4px -4px;border-top:1px solid #CCC;border-radius:0 0 5px 5px}
.visitors_bar{background-color:#FFFFE6;background-image:url(http://www.pbboard.info/forums/styles/main/images/alert.gif);background-repeat:no-repeat;background-position:center right;margin-left:auto;margin-right:auto;width:96%;border:1px solid #F9AA00;-webkit-border-radius:5px;border-radius:5px;padding-right:23px;padding-top:10px;padding-bottom:10px;font:normal 8pt tahoma;color:#905757}
.forumtcat,.forumtcatleft,.forumtcatright{background-color:#f95558;background-repeat:repeat-x;font:bold 10pt 'Droid Arabic Kufi';color:#fff;padding:10px;text-align:center}
.forumtcat h2{color:#FFF}
.forumtcat a:link,.forumtcatleft a:link,.forumtcatright a:link{background-color:transparent;color:#FFF;text-decoration:none}
.forumtcat a:visited,.forumtcatleft a:visited,.forumtcatright a:visited{background-color:transparent;color:#FFF;text-decoration:none}
.forumtcat a:hover,.forumtcatleft a:hover,.forumtcatright a:hover{background-color:transparent;color:#FFF;text-decoration:none}
input{font:normal 8pt 'Droid Arabic Kufi';background-color:#FFF;border:1px solid #dbdbdb;color:#0A3F63;padding:3px;border-width:1px;border-radius:5px}
.reg7anime{background-color:rgba(252,137,139,0.95);border-left:1px solid #A43A1B;border-right:1px solid #A43A1B;border-top:2px solid #A43A1B;border-top-left-radius:15px;border-top-right-radius:15px;bottom:0;box-shadow:0 0 10px 3px #A43A1B;color:#fff;font-family:arial;font-size:15px;font-weight:700;height:150px;left:20px;margin:0;opacity:1;padding:10px 25px 45px;position:fixed;text-align:right;width:280px;z-index:999}
.cry7anime{background-color:rgba(252,137,139,0.95);cursor:pointer;position:fixed;bottom:0;border:2px solid #A43A1B;padding:5px;border-radius:200px}
table#fbperfil tbody tr td#fbnome div.h3{text-transform:none!important}
h1.page-title{font-size:0!important;height:30px!important}
#main-content p:nth-child(2){display:none!important}
#profile-advanced-right .module{display:none!important}
#profile-advanced-left{width:100%!important}
#fbperfil{margin-bottom:-36px;margin-left:13px;margin-right:10px}
#fbfundo{border:3px solid #A43A1B;-webkit-border-radius:10px;border-radius:10px;margin-bottom:32px}
#fbavatar{border:3px solid #A43A1B;-webkit-border-radius:5px;background-color:#fff;border-radius:5px}
#fbavatar img{height:170px;width:145px}
#fbnome{padding:50px 5px 0 10px}
#fbrank,#fbgrupo{padding:0 5px 0 10px}
#profile-advanced-layout #tabs{bottom:0;padding-left:280px;margin-top:0!important;margin-bottom:-13px!important;margin-left:-10px}
#profile-advanced-details{padding-top:10px!important}
#fbrank span{margin-bottom:40px!important}
.tcamg{height:50px;padding:3px;background-color:#fe9748;background-repeat:repeat-x;background-color:#A43A1B;color:#fff;text-align:center;padding:3px}
.tcapg{height:auto;padding:3px;background-color:#fe9748;background-repeat:repeat-x;background-color:#A43A1B;color:#fff;text-align:center;padding:3px}
#fa_toolbar #fa_right #notif_list{font-size:11px;display:none;list-style-type:none;margin:0;padding:0;background-color:#e5e5e5;border:1px solid #A43A1B;z-index:10000;position:absolute;border-radius:3px 3px 3px 3px;max-height:550px;overflow-y:scroll;overflow-x:hidden}
#fa_toolbar #fa_right #notif_list li{margin:6px 12px;padding:12px;color:#A43A1B;box-shadow:0 1px 2px rgba(0,0,0,0.2);background-color:#fff;line-height:1.2em;display:block;border-radius:3px 3px 3px 3px;width:420px;transition:margin 0.6s ease-in-out 0s;border-right:5px solid #A43A1B}
#fa_toolbar #fa_right #notif_list li.see_all{background-color:#fff;text-align:center;width:135px;float:left;text-decoration:none;border:1px solid #c7c7c7;padding:9px!important;transition:all 0.6s ease-in-out 0s;}
#fa_toolbar #fa_right #notif_list li.see_all:hover{border:1px solid #A43A1B}
#fa_toolbar #fa_right #notif_list li.see_all a{color:#696969;width:100%;text-decoration:none;font-weight:700;transition:all 0.6s ease-in-out 0s;}
#fa_toolbar #fa_right #notif_list li.see_all a:hover{color:#A43A1B}
.systab .tab{padding:2px 10px;margin-right:5px;color:#A43A1B;background:#fff;border:1px solid #A43A1B;cursor:pointer;border-top-left-radius:5px;border-top-right-radius:5px}
.systab .tab:hover{background:#b8efa1;color:#487f31;border-color:#487f31}
.systab .tab.selected{color:#fff;background:#A43A1B}
.systab .contents{margin-top:1px;margin-bottom:1px;color:#A43A1B;background:#fff;border:1px solid #A43A1B;border-radius:5px;text-align:right;padding:8px 13px;height:252px}
.paging a,.paging b{text-decoration:none;background-color:#A43A1B;font-weight:700;border-radius:2px;color:#fff!important;padding:8px 13px;cursor:default}
.paging a:hover{background:#A43A1B;box-shadow:0 0 5px #000 inset}
.paging b{background:#A43A1B;box-shadow:0 0 5px #000 inset}
.paging .disabled{background:#A43A1B!important;color:#fff!important;cursor:not-allowed}
.Pages{width:200px;border:2px solid #A43A1B}
.showalleps{padding:10px;text-align:center;background-color:#A43A1B}
.showalleps a{color:#fff;font-weight:700;font-size:12px}
.s_info{background-color:#A43A1B;border-radius:4px 4px 4px 4px;color:#fff;padding:3px 0}
#awc_rightbox{background:none repeat scroll 0 0 #EEE;border:1px solid #A43A1B;bottom:0;box-shadow:3px 3px 10px #888888,0 20px 20px #EEE inset;float:right;font-family:font4egy;height:500px;position:absolute;right:11px;width:300px}
.achat_row .awc_avatar{border:1px solid #A43A1B;float:left;height:20px;margin-right:5px;padding:1px;width:20px}
.my_message .awc_avatar{border:1px solid #A43A1B!important;float:right!important;height:35px!important;padding:1px!important;width:35px!important;border-radius:20px!important;margin-right:-3px!important}
#avacweb_chat_button{background-color:#A43A1B;bottom:0;color:#fff;font-size:12px;font-weight:700;padding:4px 20px;position:fixed;right:21px;text-align:center;text-shadow:0 1px #555;z-index:9999!important;width:100px}
#awc_footer{background:none repeat scroll 0 0 #A43A1B;bottom:-30px;clear:both;padding:5px;position:absolute;right:11px;width:292px;height:60px}
#chatanime{height:43px;background-color:#A43A1B}
a.palyeps{padding:5px 48.5px;font-size:12px;font-weight:700;color:#fff;background-color:#A43A1B;border-radius:0 0 4px 4px}
.icon7veiws,.icon7up{color:#A43A1B}
.searchletter ul li{float:left;padding:8px 17.5px;background-color:#f3f2f1;border-bottom:2px solid #A43A1B}
.searchletter ul li a{font-size:15px;font-weight:700;color:#A43A1B}
.listselected{padding:8px 16.9px!important;background-color:#A43A1B!important}
a#showanimeeps,a#showanimeinfo{background-color:#A43A1B}
a.closeinfo:hover{color:#A43A1B;background-color:#fff}
.animetitle{text-align:center;background-color:#A43A1B;padding:5px 10px;border:1px solid #fff}
.animeinfofloat{border:4px solid #A43A1B}

#page-body{width:76%;margin-right:11.7%;background-color:#FFF;padding:10px;border-radius:6px;border:1px solid #D34A21}
.top-head{height:55px;border-top:3px solid #F26522;background-color:#333;position:fixed;width:1350px;top:0;right:0;z-index:9999}
.logo-head{height:250px;background-color:#fff;width:79%;margin-right:11%;margin-top:58px;background-image:url(http://store2.up-00.com/2017-01/148407463741.png)}
.bottom-head{height:55px;border-bottom:3px solid #823821;background-color:#fff;width:79%;margin-right:11%}
input{border:none;font-family:"Droid Arabic Kufi";font-size:14px;line-height:2.5em;padding:0;-webkit-appearance:none}
#login form span{background-color:#363b41;border-radius:0 3px 3px 0;border-left:3px solid #434a52;color:#606468;display:block;float:right;line-height:50px;text-align:center;width:50px;height:40px;margin-top:7px;margin-right:10px}
#login form span i{line-height:40px;text-align:center;font-size:16px}
#login form input[type="text"]{background-color:#3b4148;border-radius:3px 0 0 3px;color:#a9a9a9;margin-bottom:1em;padding:0 16px;width:140px;height:40px;margin-top:7px;float:right;direction:rtl}
#login form input[type="password"]{background-color:#3b4148;border-radius:3px 0 0 3px;color:#a9a9a9;margin-bottom:1em;padding:0 16px;width:140px;height:40px;margin-top:7px;float:right;margin-left:10px;direction:rtl}
#login form input[type="submit"]{background-color:#71BA51;border:0;width:75px;height:40px;border-radius:4px;color:#fff;cursor:pointer;transition:all 0.3s ease-in-out 0s;float:right;margin-top:7px}
#login form .register{line-height:40px;background:#D54B21;border:0;width:120px;height:40px;border-radius:4px;color:#fff;cursor:pointer;transition:all 0.3s ease-in-out 0s;float:right;margin-top:7px;margin-right:5px;text-align:center;font-size:15px}
#login form input[type="submit"]:hover{border-radius:20px;transition:all 0.6s ease-in-out 0s;}
#login form .register:hover{border-radius:20px;transition:all 0.6s ease-in-out 0s;}
.social-sec{float:left;width:275px}
.social-sec li{display:inline;padding:3px;float:right}
.social-sec .widget ul{padding:2px 0}
.social-sec .LinkList ul{text-align:center}
.social-sec #social a{display:block;height:24px;width:24px;font-size:16px;margin-top:5.5px;padding:7px;transition:all 0.3s ease-in-out 0s;border-radius:20px;color:#fff;text-align:center;background-color:#474545}
.social-sec #social a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:27px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.social-sec .facebook:before{content:"\f09a"}
.social-sec #social a.facebook:hover{background-color:#3b5998}
.social-sec .twitter:before{content:"\f099"}
.social-sec #social a.twitter:hover{background-color:#55acee}
.social-sec .gplus:before{content:"\f0d5"}
.social-sec #social a.gplus:hover{background-color:#dd4b39}
.social-sec .rss:before{content:"\f09e"}
.social-sec ul#social a.rss:hover{background-color:#f26522}
.social-sec .youtube:before{content:"\f167"}
.social-sec ul#social a.youtube:hover{background-color:#e52d27}
.social-sec .linkedin:before{content:"\f0e1"}
.social-sec ul#social a.linkedin:hover{background-color:#0976b4}
.social-sec .soundcloud:before{content:"\f1be"}
.social-sec ul#social a.soundcloud:hover{background-color:#f80}
.social-sec .instagram:before{content:"\f16d"}
.social-sec ul#social a.instagram:hover{background-color:#3f729b}
.social-sec .pinterest:before{content:"\f0d2"}
.social-sec ul#social a.pinterest:hover{background-color:#cc2127}
.social-sec ul#social a:hover{color:#fff;opacity:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;transition:all 0.6s ease-in-out 0s;}
#a7lamsg,#logout{height:15px;width:15px;font-size:16px;margin-top:10px;padding:11px;color:#FFF;text-align:center;background-color:#474545;border-radius:20px;float:right;margin-left:5px}
#fa_chat_container{background:#FFF;border:1px solid #556682;padding:1px;border-radius:3px;position:fixed;right:3px;z-index:999;overflow:hidden;min-width:500px;min-height:250px;transition:300ms}
#fa_chat{border:none;width:100%;height:100%}
#fa_chat_button{border-radius:20px;background-color:#474545;color:#FFF;line-height:30px;margin-left:10px;padding:3px 6px;cursor:pointer;position:fixed;right:322px;top:13px;text-decoration:none!important}
#fa_chat_button.fa_chat_active{color:#474545;background-color:#fff}
#fa_chatters{position:absolute;top:-5px;right:-6px;padding:1px 6px;background-color:#fff;border:1px solid;line-height:16px;border-radius:20px;color:#F26522}
#fa_notifications:before{content:"";font-family:FontAwesome}
#fa_notifications{font-family:FontAwesome}
#fa_toolbar #fa_right #fa_notifications{text-decoration:none}
#fa_right #fa_menu #fa_welcome,#fa_right.notification #fa_menu #fa_welcome{font-family:"Droid Arabic Kufi";background-color:#333!important;text-decoration:none!important;color:#FFF!important;font-size:14px;text-transform:uppercase}
#fa_toolbar #fa_right #notif_list{margin-top:14px!important;min-width:326px;left:-332px!important;margin-left:0}
#fa_toolbar #fa_right #notif_list:before{content:url("https://i18.servimg.com/u/f18/18/21/41/30/arrow11.png");position:absolute;right:28%;top:-10px}
#fa_toolbar #fa_right #fa_notifications.unread #notif_unread{line-height:10px;background-color:#fff;color:#F26522;padding:4px 3px;right:-10px;position:absolute;border-radius:20px;border:1px solid;top:-5px}
#fa_toolbar > #fa_right.notification > #fa_notifications{color:#595959;background-color:#fff}
#fa_toolbar{margin-top:-30px!important}
#fa_welcome{top:5px;right:60px;position:fixed;z-index:9999;font-size:14px}
#fa_menulist{top:88px;right:60px}
#fa_right #fa_notifications{padding:0 5px;color:#FFF;z-index:9999;position:fixed;right:365px;top:13px;height:15px;width:15px;font-size:16px!important;padding:11px;text-align:center;background-color:#474545;border-radius:20px;line-height:17px}
#fa_toolbar #fa_right #notif_list{margin-top:14px!important;min-width:326px;left:-277px!important;margin-left:0;position:relative;top:85px}
#fa_hide,#fa_show{display:none!important}
#fa_toolbar{height:0!important}
#editprofile{margin-top:24px}
#editprofile li{list-style:none;float:right;margin:3px 7px}
#editprofile li a{color:#fff;font-size:14px}
.headermenu{float:right}
.headermenu li{float:right;padding:15px 0}
.headermenu li a{font-size:12px;color:#823821;padding:16px 10px;transition:all .5s ease-out 0;font-weight:700}
.headermenu li a:hover{color:#fff;background-color:#823821}
.ho7me{color:#fff!important;padding:3px 0!important}
.ho7me a{color:#fff!important;background-color:#823821;font-size:25px!important;padding:4px 15px!important}
.sea7rch{float:left;position:relative;margin-left:15px;margin-top:10px}
.a7lasearch{float:right;margin-right:9.2%;position:relative;margin-top:5px}
.submit_input{display:inline-block;height:28px;border:1px solid transparent;padding:0 10px;outline:0 none;font-weight:500;font-size:11px;text-decoration:none;white-space:nowrap;word-wrap:normal;line-height:normal;vertical-align:middle;cursor:pointer;border-radius:2px 2px 2px 2px;box-shadow:0 1px 0 rgba(0,0,0,0.05)}
#mainsearch{width:170px;height:35px;color:#823821;overflow:hidden;position:relative;line-height:30px;font-size:13px;padding-right:10px;border:1px solid #ccc;box-shadow:0 1px 2px #eee inset;background:none repeat scroll 0 0 #fff;font-family:'Droid Arabic Kufi';transition:all 0.6s ease-out 0s;}
#mainsearch:focus{width:270px;transition:all 1s ease-out 0s;}
.submitinput{cursor:pointer;border:1px solid #CCC;border-right:none;background:none repeat scroll 0 0 #f8f8f8;color:#858585;height:35px;border-right:0 none;width:50px;float:left;text-align:center;padding:0;border-top-left-radius:2px;border-bottom-left-radius:2px}
#search7bt{font-size:18px;color:#823821;text-align:center;margin-top:7px}

.animfooter{color:#666;border-top:4px solid #D44B21;border-bottom:1px solid #111;font-size:13px;margin:0;padding:0 0 30px;font-weight:400;background:#222 none repeat scroll 0 0;overflow:hidden;height:350px}
.bottom-nav{text-align:center;padding:14px 0 15px;margin-bottom:15px;overflow:hidden}
.menu-bottom{float:right;margin-right:40px}
.menu-bottom ul{margin-right:0}
.menu-bottom li{float:right;margin-left:4px;display:inline;padding:0}
.menu-bottom li a{color:#D1D1D1;text-transform:uppercase;font-size:11px;margin:0;display:block;padding:0 20px;line-height:40px;height:40px;background-color:#272727;border-radius:3px;transition:all 0.3s ease-out 0s;}
.menu-bottom li a:hover{background-color:#D44B21;transition:all 0.6s ease-out 0s;}
.contact-button{float:left;line-height:40px;height:40px;margin-left:20px}
.contact-button a{padding:0 15px;background:#D44B21 none repeat scroll 0 0;color:#FFF;display:block;border-radius:3px}
.contact-button a .fa{margin-left:5px}
#copyrights{background-color:#111;text-align:center;height:35px;border-top:1px solid #333;position:relative;box-shadow:0 5px 15px #111 inset;padding:15px 25px 10px}
a.upbt{background:#222 none repeat scroll 0 0;border-radius:100%;text-align:center;vertical-align:middle;height:30px;padding:10px;width:30px;position:absolute;top:-26px;color:#FFF;font-size:24px;left:50%;margin-left:-24px;transition:all 0.3s ease-out 0s;}
a.upbt:hover{background-color:#D44B21;transition:all 0.6s ease-out 0s;}
.copy-right{float:right;color:#fff;font-size:13px}
.copy-left{float:left;color:#fff;font-size:10px}
#copyrights a{color:#ccc}
.footer-home{display:none!important}
ul.linklist li{display:inline;line-height:2.2em;width:auto;list-style-type:none;font-size:10px}
#anime7footer{height:225px;width:100%;margin:0 40px}
.footer-anime{float:right;font-size:12px;width:24%;padding:0 0 0 15px;text-align:right}
.footer-anime .htitle{border-bottom:1px solid #444;text-transform:uppercase;font-size:16px;background:#222 url(http://1.bp.blogspot.com/-K9J4cSrMFmc/VAyfs8BHj_I/AAAAAAAAAdk/wDBzkFzK_84/s1600/dots_pat.png) repeat-x scroll center center;line-height:40px;margin-bottom:15px}
.htitle h2{display:inline-block;font-weight:700;font-size:13px;color:#837F7F;text-transform:uppercase;background-color:#222;padding:0 5px}
.copyright{padding:25px 20px 15px!important}
.copyright a{background-color:#CD844D;color:#FFF;margin:8px;padding:10px 35px;border-radius:4px;transition:all 0.3s ease-out 0s;}
.copyright a:hover{border-radius:20px;transition:all 0.6s ease-out 0s;}

body{background-color:#F9F9F9}
#mainsearch{padding:0;padding-right:10px;border-radius:0}
td.catwigdet{text-align:center;padding:8px;border-radius:4px 4px 0 0;background-color:#fafafa}
.reg7anime{left:50px}
.systab.s_float .tab,.systab.s_float .tab{display:block;margin:5px}
.systab.s_float .tabs,.systab.s_float .contents{float:left}
.systab .contents br,.systab .contents .profilePopup{display:none}
Â£panda_selector_1401146192505_0_m_pandaÂ£{background:rgba(0,0,0,0.75);position:fixed;height:100%;width:100%;top:0;left:0}
#kinboxpop{background:rgba(0,0,0,0.75);position:fixed;height:100%;width:100%;top:0;left:0}
#kinboxpop #knmessagepop{background:#fff;border:1px solid #999;height:auto;margin:25% auto;overflow:hidden;width:500px}
#kinboxpop #knmessagepop h3{position:relative;text-align:center;background:#333;border-bottom:1px solid #222;color:#fff;margin:0;font-weight:700;padding:5px 0}
#kinboxpop #closepop{cursor:pointer;position:absolute;right:0;top:0}
#kinboxpop #contentmess{float:left;text-align:center;width:100%;padding:15px 0}
.topic-warning-block{margin:10px 0;padding:15px 10px 15px 50px;background-repeat:no-repeat;background-position:right;background-image:url(http://1.bp.blogspot.com/_5rlxf3T9Z9U/SsIXuytpYfI/AAAAAAAADcI/I4Tm0W5gDQk/lock_32.png);color:#750000!important;background-color:#D26067;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;text-align:center;font-weight:700;font-size:18px;text-shadow:1px 1px 1px #AAA}
#lastedited{border-radius:4px 4px 4px 4px;border:1px solid #f95558;padding:10px;text-align:center;color:#fff;margin-bottom:10px;background:none repeat scroll 0 0 rgba(249,85,88,0.6);font-weight:700}
#lastedited br{display:none}
#lastedited:empty{display:none}
.a7laedit:hover{background-color: #3f3f3f;}
.a7ladelete:hover{background-color: #3f3f3f;}
.a7lareply:hover{background-color: #3f3f3f;}
.a7lathank:hover{background-color: #3f3f3f;}
.a7laquote:hover{background-color: #3f3f3f;}
.a7lapostprivate:hover{background-color: #3f3f3f;}
.a7lapostprofile:hover{background-color: #3f3f3f;}
.a7lareplypost:hover{background-color: #3f3f3f;}
.a7lanewpost:hover{background-color: #3f3f3f;}
.a7lalockedpost:hover{background-color: #3f3f3f;}
.news_topic_author:before{content:'Ø¨ÙˆØ§Ø³Ø·Ø© '}
.news_topic_time:before{content:'Ø£Ø®Ø± Ù…Ø³Ø§Ù‡Ù…Ø© ÙÙŠ: '}
.notifFaceavatar{float:right!important}
.notifFaceavatar img{height:60px!important;width:60px!important;margin-top:-12px;margin-right:-12px;margin-left:5px}
#quick_reply table{width:86%;margin-right:115px}
input.liteoption{min-width:110px;font-weight:700}
input.mainoption{min-width:110px}
table.borderDev th.thead{padding:0 0 0 20px;text-align:right}
th.thead label:hover{cursor:pointer;border-color:#ddd;background:none repeat scroll 0 0 #fff;border-top:2px solid #FE9748}
th.thead label.active{cursor:pointer;border-color:#ddd;background:none repeat scroll 0 0 #fff;border-top:2px solid #2dbb69}
th.thead label{background:none repeat scroll 0 0 rgba(255,255,255,0.7);display:inline-block;height:34px;line-height:30px;padding:4px 12px;border-width:1px 1px 0;border-style:solid solid none;border-color:#ddd;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;margin-left:2px}
.style-color li{width:22px;height:22px;border:1px solid rgba(0,0,0,.3);padding:1px;border-radius:200px;float:right;margin:3px}
.style-color li a{font-size:9px;padding:5px 12px}
#headernav{margin-top:6px}
#leftnav{top:60px;width:400px}
#profileLinks{display:block;padding:3px;margin:-5px -4px -4px;float:right;width:218px;border-radius:0 0 5px 5px}
#fa_toolbar #fa_right.notification #notif_list{margin-top:13px;margin-left:5px}
#LGal7anews_113 li{float:right;margin-left:250px}
.img7forum img{border-radius:0 4px 4px 0;padding-top:8px}
.headermenu li a{font-weight:700}
#fa_toolbar #fa_right #notif_list li.see_all{width:190px}

#fa_toolbar #live_notif{width:330px;position:absolute;direction:rtl;right:-100px!important;top:530px!important}
#fa_right{right:120px;top:15px}
#welcomemsg a{float:none;position:absolute;left:10px;bottom:10px;margin:0}
.s_img img{width:160px;height:120px}
.iconn{width:50px;height:50px}
.iconn i{padding:6px}
#ban7ner{margin:-5px 2% 10px;text-align:center;height:90px}
#backtotop{bottom:4px;right:14px;border-radius:4px}
#headernav{margin-top:5px}
#userAV img:eq(1){display:none}
#content-container #left{width:100%;margin:0}
th.thead{background:none repeat scroll 0 0 #fafafa;border-radius:0!important}
#logout{width:100px;background-color:#E74C3C;line-height:12px;font-size:15px}
#a7lamsg{background-color:#3D8EB9}
#fa_right #fa_notifications{background-color:#71BA51}
#fa_chat_button{background-color:#897FBA}
#a7lawatch,#a7laupload,#a7laask{height:15px;width:15px;font-size:16px;margin-top:10px;padding:11px;color:#FFF;text-align:center;background-color:#474545;border-radius:20px;float:right;margin-left:5px}
#a7lawatch{background-color:#E26E67}
#a7laupload{background-color:#72BAAC}
#a7laask{background-color:#CC666E}
#fa_toolbar #fa_right #notif_list{top:29px;margin-right:-250px}
.slider-sh{width:79%;margin:20px 11%}
.titel-slide,.nav-tab{background-color:#333}
.pagination{float:none}
.titel-slide{padding:6px;text-align:center;color:#fff}
#fa_notifications:before{content:"";font-family:FontAwesome}
#autologin{display:none}
.social-sec{width:240px}
#fa_toolbar #fa_right a[id] + ul#fa_menulist,#fa_toolbar #fa_right a[id] + ul#notif_list{display:block!important;max-height:0;overflow:hidden;transition:max-height 1s cubic-bezier(0,1.05,0,1),border .5s ease;border-top-width:0!important;border-bottom-width:0!important}
#fa_toolbar #fa_right[class*="welcome"] a[id] + ul#fa_menulist,#fa_toolbar #fa_right[class*="notif"] a[id] + ul#notif_list{max-height:2500px;transition:max-height 1s ease-in,border .5s ease;border-top-width:1px!important;border-bottom-width:1px!important}
#page-body{border:none}
body{color:#333}
#main-content{padding:0}
.sceditor-container{border-color:#A43A1B!important}
fieldset.quickmod{float:right;height:auto;min-height:2.5em;text-align:right;width:100%;margin-top:10px}
fieldset.jumpbox{height:2.5em;margin-top:10px;text-align:right}
dd.lastpost{font-size:1em;width:25%}
.buttons div span{display:block}
.buttons{margin-bottom:10px}
.topic-actions{height:90px}
.search-box{float:left}
.h3,h3{border-bottom:1px solid #A43A1B;color:#A43A1B;font-family:"Droid Arabic Kufi";font-size:13px;margin-bottom:3px;margin-top:20px;padding-bottom:2px;text-transform:uppercase}
.forumbg .header{background:#a43a1b none repeat scroll 0 0;margin:-5px -5px 10px;padding:10px 6px 6px}
li.header dd,li.header dt{font-family:"Droid Arabic Kufi"}
select{padding:5px 0!important}

#stats {margin: 60px -10px 10px !important;background: #A43A1B none repeat scroll 0% 0%;padding: 15px 10px;float: right;width: 100%;border-bottom: none;}
£panda_selector_1484292334624_2_m_panda£{display:none !important;}
.statsPers li span a {text-decoration: none !important;}
.statsPers li > span {padding: 4px 12px;background-color:#F2F2F2;border-radius: 20px;color: #111;font-weight: 700;}
.stat {background: transparent !important;box-shadow:none !important;color: #fff !important;}
.statsPers li {float: right;color:#fff;width:25%;}
.statsPers {list-style: none;display: block;margin: 0px 50px;width: 100%;}
.statHide {display:none;}
.hstat {color:#A43A1B;font-size:13px;font-weight:bold;margin-bottom: 3px;margin-top: 20px;padding-bottom: 2px;border-bottom: 1px solid #A43A1B;}
.hstat a {color:#A43A1B;}
.hstat i {font-size:18px;}
